# You can configure your scheduler in either <quartz> configuration section
# or in quartz properties file
# Configuration section has precedence

quartz.scheduler.instanceName = LgQuartzScheduler



# configure thread pool info
quartz.threadPool.type = Quartz.Simpl.SimpleThreadPool, Quartz
quartz.threadPool.threadCount = 20
quartz.threadPool.threadPriority = Normal

quartz.jobStore.type = Quartz.Simpl.RAMJobStore, Quartz

# job initialization plugin handles our xml reading, without it defaults are used
quartz.plugin.xml.type = Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz
quartz.plugin.xml.fileNames = ~/quartz_jobs.xml
# 扫描quartz_jobs.xml文件的频率，设为60*60秒
quartz.plugin.xml.ScanInterval = 3600

# export this server to remoting context
#quartz.scheduler.exporter.type = Quartz.Simpl.RemotingSchedulerExporter, Quartz
#quartz.scheduler.exporter.port = 555
#quartz.scheduler.exporter.bindName = QuartzScheduler
#quartz.scheduler.exporter.channelType = tcp
#quartz.scheduler.exporter.channelName = httpQuartz

  #Configure dataSource  Trusted_Connection=True
 #quartz.dataSource.MyDS.connectionString = Server=172.16.52.66;Database=Quartz_DB;User ID=sa;Password=123456;multipleactiveresultsets=True;
 #quartz.dataSource.MyDS.provider = SqlServer-20